{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="form_update">
        <div class="h2 text-center head">
            {{ title|title }}
        </div>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="form-control" value="сохранить">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'admin:categories' %}">
                к списку категорий
            </a>
        </button>
    </div>
{% endblock %}