{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
   <div class="form_update">
        <div class="h2 text-center head">
            {{ title|title }}
        </div>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {% for v_form in form %}
                {% if v_form.name == 'image' %}
                    {{ v_form.image }}
                    <img src="/media/{{ form.instance.image.url|default:'products_images/default.jpg' }}"
                            alt="{{ object.name }}">
                {% endif %}
                <p>{{ v_form }}</p>
            {% endfor %}
            <input type="submit" class="form-control" value="сохранить">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'admin:products' category.pk %}">
                к списку продуктов
            </a>
        </button>
    </div>
{% endblock %}