{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="product_delete">
    Уверены, что хотите {% if object.is_active %}удалить{% else %}восстановить{% endif %} продукт: {{ object.name }}
    {% if object.description %}
      ({{ object.description|title }})
    {% endif %}
    ?
    <form action="{% url 'admin:product_delete' object.pk %}" method="post">
      {% csrf_token %}
      {% if object.is_active %}
          <input type="submit" class="btn btn-danger" value="Удалить">
      {% else %}
          <input type="submit" class="btn btn-success" value="Восстановить">
      {% endif %}
    </form>
    <button class="btn btn-block">
      <a href="{% url 'admin:products' object.category.pk %}">Отмена</a>
    </button>
  </div>
{% endblock %}